:root {
  --lightOrange: #ffd7b8;
  --orange: #ff9646;
  --hoverOrange: #e98539;
  --selectRed: #fcd8b0;
  --green: #328f3a;
  --black: #231f20;
}

body {
  text-align: center;
  margin: 0;
  font-family: "Lexend Deca", sans-serif;
}

.small {
  display: block;
}

.large {
  display: none;
}

img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.box {
  display: block;
  align-items: center;
  justify-content: center;
}

p {
  font-size: 12px;
}

a {
  font-size: 12px;
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none;
}

a:hover {
  font-weight: bold;
}

.pageB {
  font-size: 45px;
  color: white;
}

.pageB:visited {
  color: white;
}

.dlB:link {
  color: var(--green);
}

.dlB:visited {
  color: var(--green);
}

.footerLinkB:link {
  color: var(--black);
}

.footerLinkB:visited {
  color: var(--black);
}

.newBTitle {
  font-size: 37px;
  color: var(--orange);
}

.newBImage {
  margin-bottom: 5px;
}

::selection {
  background: var(--selectRed);
}

::-moz-selection {
  /* Firefox */
  background: var(--selectRed);
}

/* nav bar */

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: var(--orange);
  position: sticky;
  position: -webkit-sticky; /* Safari */
  top: 0;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover:not(.active) {
  background-color: var(--hoverOrange);
}

.active {
  background-color: var(--hoverOrange);
}

.line {
  width: 90%;
  border: 1px solid var(--orange);
}

.footerB {
  margin-top: 45px;
  margin-bottom: 45px;
}

/* */

/* collections css */

.collectionBox {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--lightOrange);
  width: 690px;
  padding: 10px;
  border: 3px solid var(--orange);
  border-radius: 20px;
  margin: 0px;
  margin-top: 10px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 10px;
}

.fullCollectionBox {
  margin-top: 75px;
  margin-bottom: 75px;
}

.collectionTitle {
  font-size: 15px;
  color: var(--orange);
}

/* */

/* 1100px and up */ /* computer screens */
@media only screen and (min-width: 1100px) {
  .small {
    display: none;
  }

  .large {
    display: block;
  }

  .box {
    display: flex;
    margin-top: 75px;
  }

  .top {
    margin-top: 50px;
  }

  .bottom {
    margin-bottom: 50px;
  }

  .pageB {
    font-size: 25px;
  }

  p {
    font-size: initial;
  }

  a {
    font-size: initial;
  }

  .collectionBox {
    width: 330px;
  }

  .fullCollectionBox {
    margin: 0px;
    margin-right: 40px;
  }

  .fullCollectionBox:last-child {
    margin-right: 0px;
  }

  .collectionTitle {
    font-size: 25px;
  }
}
