:root {
  --orange: #ff9646;
  --hoverOrange: #e98539;
  --selectRed: #fcd8b0;
  --green: #328f3a;
  --black: #231f20;
}

body {
  text-align: center;
  margin: 0;
  font-family: 'Lexend Deca', sans-serif;
}

.small {
  display: block;
}

.large {
  display: none;
}

img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.box {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 55px;
  margin-bottom: 55px;
}

p {
  font-size: 30px;
}

a {
  font-size: 30px;
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none;
}

a:hover {
  font-weight: bold;
}

.pageB {
  font-size: 45px;
  color: white;
}

.pageB:visited {
  color: white;
}

.dlB:link,
.tempBDownload:link {
  color: var(--green);
}

.dlB:visited,
.tempBDownload:visited {
  color: var(--green);
}

.dlAltB:link {
  color: var(--orange);
}

.dlAltB:visited {
  color: var(--orange);
}

.footerLinkB:link {
  color: var(--black);
}

.footerLinkB:visited {
  color: var(--black);
}

.newBTitle {
  font-size: 37px;
  color: var(--orange);
}

.tempBImage {
  margin-bottom: 5px;
}

.bImageDiv {
  margin-left: 20px;
  margin-right: 20px;
}

.bImage {
  margin-bottom: 5px;
}

.line {
  width: 90%;
  border: 1px solid var(--orange);
}

.footerB {
  margin-top: 45px;
  margin-bottom: 45px;
}

::selection {
  background: var(--selectRed);
}

::-moz-selection {
  /* Firefox */
  background: var(--selectRed);
}

/* nav bar */

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: var(--orange);
  position: sticky;
  position: -webkit-sticky; /* Safari */
  top: 0;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover:not(.active) {
  background-color: var(--hoverOrange);
}

.active {
  background-color: var(--hoverOrange);
}

/* */

/* 1100px and up */ /* computer screens */
@media only screen and (min-width: 1100px) {
  .small {
    display: none;
  }

  .large {
    display: block;
  }

  .pageB {
    font-size: 25px;
  }

  p {
    font-size: initial;
  }

  a {
    font-size: initial;
  }
}
